body{
    overflow-x: hidden;
    overflow-y: scroll;
}
h1{
    font-size: 10vw;
    text-align: center;
    color: #f94343;
    font-family: 'Montserrat', sans-serif;
}

.container-1{
    display: flex;
    flex-direction: column;
    
}

body{
    background-color: #2b2626 !important;
}

.sidecircle.small {

    position: fixed;
	border: 1px solid #f84342;
	border-radius: 50%;
	width: 7vw;
	height: 7vw;
	z-index: 95;
    margin:auto;
    top: 3.5vh;
    left:3.5vh;
    align-items: center;

}
.circle.filled {
	background-color: #666666;
}

.circle h3 {
    margin-top: 25px;
    text-align: center;
    font-family:  Arial, sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #f84342;
    letter-spacing: -0.01em;
    text-decoration: none;
    display: block;
}

.circle h1 {
    text-align: center;
    font-family:  Times, serif;
    font-weight: 800;
    font-size: 38px;
    color: #222222;
    text-decoration: none;
    display: block;
    letter-spacing: -0.02em;
    word-spacing: -0.02em;
    line-height: 1;
    vertical-align: middle;
    margin-top: 32px;
}

.short-line1{
    background-color: #f94343;
    border: 0 none;
    color: #f94343;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.2vw;
    margin-bottom: 0vw;
    opacity: 1;
}
.short-line2{
    background-color: #f94343;
    border: 0 none;
    color: #f94343;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1vw;
    margin-bottom: 0vw;
    opacity: 1;
}
.short-line3{
    background-color:#f94343;
    border: 0 none;
    color: #f94343;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1vw;
    opacity: 1;
}
.developer{
    color: #df5f5f;
}

/***** Top menu *****/
.glass{
    backdrop-filter: blur(0.5em);
}
/* menu-items */
.big-size{
    font-size: 7vw;
    font-weight: bolder;
}
.menubar{
    opacity: 0;
    transform: translateY(0%);
    background-color: rgba(0, 0, 0, 0.95);
    z-index: 90;
    position: fixed;
    top:0;
    display: flex;
    /* flex-direction: column; */
    height: 100%;
    width:100%;
    transition: all 1s;
    /* justify-content: space-around; */
}
.menu1{
    width:50vw;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* align-items: flex-end; */
}
.menu2{
    
    display: flex;
    /* align-items: center; */
    flex-direction: column;
}
.vl {
    z-index: 100;
    border-left: 2px solid #f94343;
    height: 500px;
    position: fixed;
    left: 50%;
    margin-left: -3px;
    top: 15vh;
    opacity: 0;
    /* bottom: 20vh; */
    
  }
.home{
    z-index: 105;
    padding-top: 20vh;
    padding-left: 20vw;
    
}
.about{
    z-index: 104;
    padding-top: 20vh;
    padding-left: 17vw;
    
}
.resume{
    z-index: 103;
    padding-top: 20vh;
    padding-left: 5.5vw;
}

.contacts{
    z-index: 102;
    padding-top: 20vh;
    padding-left: 5.5vw;
}




h2{
    font-size: 10vw;
    color: #f94343;
    font-family: 'Bolde', sans-serif;
}
 
  
#bg2{
    /* position: static !important;
    top: 0; right: 0; bottom: 0; left: 0;
    height: 100vh;
    width: 100vw; */
    padding-bottom: 100vh;
    /* visibility: hidden; */
}

/* Resume */
.Resume_center{
    font-size: 7vw;
    color: #f94343;
    text-transform: uppercase;
    text-align: center;
}
.container1{
    display: flex;
    flex-direction: row;
}

.Btech{
    display: flex;
    flex-direction: row;
    height: 50vh;
    /* margin-bottom: 10vh; */
}
.websites,.skills{
    text-align: center;
    font-size: 4vmax;
    border: 1px solid #f84342;
    padding-top: 1vw;
    padding-bottom: 1vw;
    width:60vw;
    margin-left: 20vw;
    margin-right: 20vw;
    margin-bottom: 3vw;
}
.education{
    text-align: center;
    font-size: 4vmax;
    border: 1px solid #f84342;
    padding-top: 0vw;
    padding-bottom: 0vw;
    width:60vw;
    margin-left: 4vw;
    margin-right: 20vw;
    margin-bottom: 3vw;
}
.project{
    width:45vw;
    padding-left: 8vw;
    height: 50vh;
    margin-bottom: 10vh;
    overflow-y:scroll;
    z-index: 92;
}
p{
    font-size: 6vh;
}
h4{
    font-weight: 900;
}
.box1{
    padding-left: 16vw;
    width: 100vw;
    color: #f94343;  
}
.Institute-photo1{
   padding-left: 6vw;
}
.Institute-photo2{
    padding-left: 20vw;
 }
 .Institute-photo3{
    padding-left: 19vw;
 }
.box2{
    padding-top: 10vh;
    /* padding-left: 16vw; */
    width:50vw;
    color: #f94343;
}
.box3{
    padding-top: 12vh;
    padding-left: 7vw;
    width: 50vw;
    color: #f94343;  
}
.box4{
   
    /* padding-left: 16vw; */
    width:40vw;
    color: #f94343;
    z-index: 92;
}
.Desc{
    padding-top: 3vh;
    font-size: 3vh;
}
.timespan{
    padding-top: 3vh;
    font-size: 3vh;
    color: #df5f5f;
}
.CPI{
    padding-top: 3vh;
    font-size: 3vh;
    color: #df5f5f;
}
.IITGN{
    width:40vw;
    height:50vh;
    padding-bottom: 10vh;
}
.vl2 {
    border-left: 2px solid #f94343;
    height: 103vh;
    position: absolute;
    left: 12vw;
    margin-left: -3px;
    top: 34vh;
    /* bottom: 20vh; */
    
  }
  .glass2{
    backdrop-filter: blur(1em);
} 
.sidecircle2{
    position: absolute;
	border: 1px solid #f84342;
	border-radius: 50%;
	width: 2.5vw;
	height: 2.5vw;
	z-index: 80;
    margin:auto;
    /* top: 34vh; */
    left:10.6vw;
    align-items: center;
}
.sidecircle3{
    position: absolute;
	border: 1px solid #f84342;
	border-radius: 50%;
	width: 2.5vw;
	height: 2.5vw;
	z-index: 80;
    margin:auto;
    top: 84.5vh;
    left:10.6vw;
    align-items: center;
}
.sidecircle4{
    position: absolute;
	border: 1px solid #f84342;
	border-radius: 50%;
	width: 2.5vw;
	height: 2.5vw;
	z-index: 80;
    margin:auto;
    top: 134vh;
    left:10.6vw;
    align-items: center;
}
#myCarousel, #myCarousel2{
    margin-left: 5vw;
    width:40vw;
    height:50vh;
    margin-bottom: 10vh;
}
.carousel-photo{
    width:40vw;
    height:50vh;
}

a{
    text-decoration: none !important;
    color: #f84342;
}
.box5{
    width:100vw;
}

/* skills */
.circle{
    background-color: #FF5F00;
    border: 1px solid #FF5F00;
    border-radius: 50%;
    margin-top: 1vw;
    margin-left: 1vw;
    width: 1.5vw;
    height: 1.5vw;
}
.circle2{
    background-color: grey;
    border: 1px solid grey;
    border-radius: 50%;
    margin-top: 1vw;
    margin-left: 1vw;
    width: 1.5vw;
    height: 1.5vw;
}
.container2{
    display: flex;
    flex-direction: row;
}
.percentage{
    display: inline;
    text-align: center;
    padding: 0.5vw 1vw 1vw 1.5vw;
    margin-left: 2vw;
    border-radius: 20%;
    color: #ffffff;
    background-color: #FF5F00;
}
.skill-items{
    color: #FF5F00;
    display: inline;
    width:5vw;
    margin-right: 7vw;
}
.row1{
    width: 50%;
    margin-left: 2vw;
    padding-bottom: 2vh;
    display:flex; 
    flex-direction: row; 
    justify-content: center; 
    align-items: center;
}
@media screen and (max-width:991px) {

    .sidecircle.small{
        border: 1px solid #f84342;
        border-radius: 50%;
        width: 13vw;
        height: 13vw;
        top: 3.5vh;
        left:3.5vh;
    }
    .short-line1{
        height: 2px;
        margin-top: 4vw;
        margin-bottom: 0vw;
        opacity: 1;
    }
    .short-line2{
        height: 2px;
        margin-top: 2vw;
        margin-bottom: 0vw;
        opacity: 1;
    }
    .short-line3{
        height: 2px;
        margin-top: 2vw;
        opacity: 1;
    }
    .education{
        margin-left: 20vw;
    }
    .box1{
        padding-left: 0vw;
    }
    .Btech{
        padding-left: 10vw;
        display: flex;
        flex-direction: column;
    }
    .container-1{
        align-items: center;
    }
    .Btech{
        
        padding-bottom: 80vw;
    }
    .Institute-photo1{
        padding-left: 0vw;
    }
    .Institute-photo2{
        padding-left: 0vw;
    }
    .Institute-photo3{
        padding-left: 0vw;
    }
    .IITGN{
        width: 80vw;
        height: 55vw;
    }
    .vl2{

    left: 5vw;
    /* top: 27vh; */
    }
    .sidecircle2,.sidecircle3,.sidecircle4{
        width: 4vw;
        height: 4vw;
        left: 2.7vw;
    }
    
    #myCarousel, #myCarousel2{
       margin-left: 10vw;
       width:80vw;
       height: 60vh;
    }
    .carousel-photo{
        width: 80vw;
        height: 60vh;
    }
    .project{
        width: 90vw;
        padding-left: 10vw;
    }
    .vl{
        visibility: hidden;
    }
    .menubar{
        flex-direction: column;
        align-items: center;
    }
    .menu1{
        width: 100%;
        align-items: center;
    }
    .menu2{
        width: 100%;
        align-items: center;
    }
    .home{
        position: absolute;
        padding-left: 0;
        margin: auto;
        left:40vw;
        
    }
    .about{

        position: absolute;
        margin: auto;
        padding-top: 35vh;
        padding-left: 0vw;
        
    }
    .resume{
        position: absolute;
        margin: auto;
        padding-top: 50vh;
        padding-left: 0vw;
        left: 35vw;
    }
    
    .contacts{
        position: absolute;
        margin: auto;
        padding-top: 65vh;
        padding-left: 0vw;
    }
    .container2{
        flex-wrap: wrap;
        justify-content: center; 
    }
   
}
@media screen and (max-width:479px){
    .sidecircle.small{
        border: 1px solid #f84342;
        border-radius: 50%;
        width: 22vw;
        height: 22vw;
        top: 2.8vh;
        left:2.8vh;
    }
    .short-line1{
        height: 1px;
        margin-top: 7vw;
        margin-bottom: 0vw;
        opacity: 1;
    }
    .short-line2{
        height: 1px;
        margin-top: 3vw;
        margin-bottom: 0vw;
        opacity: 1;
    }
    .short-line3{
        height: 1px;
        margin-top: 3vw;
        opacity: 1;
    }
    .timespan{
        padding-top: 0vh;

    }
    
}
@media screen and (max-width:720px){
   
    .circle.small {
        width: 150px;
        height: 150px;
    }
    .timespan{
        padding-top: 2vh;
    }
    .CPI{
        padding-top: 0vh;
    }
    .Resume_center{
        font-size: 8vw;
        padding-top: 1.8vh;
    }
  
    .Btech{
        padding-bottom: 90vw;
    }
}
@media screen and (max-width:600px){
   
    .circle.small {
        width: 120px;
        height: 120px;
    }
    .sidecircle2,.sidecircle3,.sidecircle4{
        width: 5vw;
        height: 5vw;
        left: 2vw;
    }
}
@media screen and (max-width:525px){
    
    .circle.small {
        width: 110px;
        height: 110px;
    }
}
@media screen and (max-width:430px){
    .sidecircle2{
        width: 6vw;
        height: 6vw;
        left: 1.6vw;
    }
    .Btech{
        padding-bottom: 105vw;
    }
}
/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #df5f5f #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #df5f5f;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }