body{
    overflow-x: hidden;
}
h1{
    font-size: 10vw;
    text-align: center;
    color: #f94343;
    font-family: 'Montserrat', sans-serif;
}
#bg{
    /* visibility: hidden; */
}
.container-1{
    display: flex;
    flex-direction: column;
    
}
.Shriyash{
    font-family: 'Playfair Display', serif;
    font-size: 9vw;
    color: #f94343;
    margin-top: 1vh;
    margin-right: 350px;
    margin-bottom: 0px;
}

.Mandavekar{
    font-family: 'Playfair Display', serif;
    font-size: 8vw;
    padding-top: 30vh;
    color: #f94343;
    padding-left: 15vw;
   
}

.sidename{
    position: fixed;
    color: #f94343;
    font-size: 1.4em;
    top:55vh;
    padding-left: 2vw;
    transform: rotate(-90deg);
    font-family: Bolde,sans-serif;
    visibility: visible;
    /* transform: translateX(0vw); */
    
}
.corner{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.cornername{
    position: absolute;
    color: #f94343;
    font-size: 1em;
    padding-top: 1.3em;
    padding-right: 1.6em;
}
.cornerweb{
    padding-top: 2em;
    color: #df5f5f;
    font-size: 1.3em;
    padding-right: 1.1em;
}

/* .sidecontainer{
    position: absolute;
    right:0 ;
} */
h1{
    margin-top: 0px;
}
body{
    background-color: #2b2626 !important;
}

.info{
    padding-top: 35vh;
    padding-bottom: 50px;
    /* visibility: hidden; */
    opacity: 0.1;
}
.Web_devloper{
    font-size: 8vw;
    font-weight: bolder;
}
.Web_devloper2{
    text-align: left;
}
/* .IITGN{
    font-family: 'Playfair Display', serif; 
} */
.circle2{
    padding-top: 12.5vw;
    padding-left: 10vw !important;
}

.circle.small {
	border: 1px solid #f84342;
	border-radius: 50%;
	width: 220px;
	height: 220px;
	z-index: 86;
    margin:auto;
}
.sidecircle.small {

    position: fixed;
	border: 1px solid #f84342;
	border-radius: 50%;
	width: 7vw;
	height: 7vw;
	z-index: 86;
    margin:auto;
    top: 3.5vh;
    left:3.5vh;
    align-items: center;

}
.circle.filled {
	background-color: #666666;
}

.circle h3 {
    margin-top: 25px;
    text-align: center;
    font-family:  Arial, sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #f84342;
    letter-spacing: -0.01em;
    text-decoration: none;
    display: block;
}

.circle h1 {
    text-align: center;
    font-family:  Times, serif;
    font-weight: 800;
    font-size: 38px;
    color: #222222;
    text-decoration: none;
    display: block;
    letter-spacing: -0.02em;
    word-spacing: -0.02em;
    line-height: 1;
    margin-top: 32px;
}
.developer{
    color: #df5f5f;
}
.short-line1{
    background-color: #f94343;
    border: 0 none;
    color: #f94343;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.2vw;
    margin-bottom: 0vw;
    opacity: 1;
}
.short-line2{
    background-color: #f94343;
    border: 0 none;
    color: #f94343;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1vw;
    margin-bottom: 0vw;
    opacity: 1;
}
.short-line3{
    background-color:#f94343;
    border: 0 none;
    color: #f94343;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1vw;
    opacity: 1;
}
.personal_image{
    position:absolute;
    /* left: 35vw; */
    top:20vh;
    width:20vw;
    z-index: -1;
    border-radius: 3%;
}

/***** Top menu *****/
.glass{
    backdrop-filter: blur(0.5em);
}

/* sidebar css */
.menubar{
    opacity: 0;
    transform: translateY(0%);
    background-color: rgba(0, 0, 0, 0.95);
    z-index: 85;
    position: fixed;
    top:0;
    display: flex;
    /* flex-direction: column; */
    height: 100%;
    width:100%;
    transition: all 1s;
    /* justify-content: space-around; */
}
.menu1{
    width:50vw;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* align-items: flex-end; */
}
.menu2{
    
    display: flex;
    /* align-items: center; */
    flex-direction: column;
}
.vl {
    z-index: 100;
    border-left: 2px solid #f94343;
    height: 500px;
    position: fixed;
    left: 50%;
    margin-left: -3px;
    top: 15vh;
    opacity: 0;
    /* bottom: 20vh; */
    
  }
.big-size{
    font-size: 7vw;
    font-weight: bolder;
}
h2{
    font-size: 10vw;
    color: #f94343;
    font-family: 'Bolde', sans-serif;
}
.home{
    padding-top: 20vh;
    padding-left: 20vw;
    
}
.about{
    padding-top: 20vh;
    padding-left: 17vw;
    
}
.resume{
    padding-top: 20vh;
    padding-left: 5.5vw;
}

.contacts{
    padding-top: 20vh;
    padding-left: 5.5vw;
}
#bg2{
    /* position: static !important;
    top: 0; right: 0; bottom: 0; left: 0;
    height: 100vh;
    width: 100vw; */
    padding-bottom: 100vh;
    /* visibility: hidden; */
}

/* Resume */
.Resume_center{
    font-size: 7vw;
    color: #f94343;
    text-transform: uppercase;
    text-align: center;
}
.container1{
    display: flex;
    flex-direction: row;
}
.box1{
    padding-left: 16vw;
    width: 50vw;
    color: #f94343;  
}
.Btech{
    height: 50vh;
}
p{
    font-size: 6vh;
}
h4{
    font-weight: 900;
}
.box2{
    padding-top: 10vh;
    /* padding-left: 16vw; */
    width:50vw;
    color: #f94343;
}
.timespan{
    padding-top: 3vh;
    font-size: 3vh;
}
.CPI{
    padding-top: 3vh;
    font-size: 3vh;
}
.IITGN{
    width:40vw;
    height:50vh;
    padding-bottom: 10vh;
}
.vl2 {
    border-left: 2px solid #f94343;
    height: 103vh;
    position: absolute;
    left: 12vw;
    margin-left: -3px;
    top: 34vh;
    /* bottom: 20vh; */
    
  }
  .glass2{
    backdrop-filter: blur(1em);
} 
.sidecircle2{
    position: absolute;
	border: 1px solid #f84342;
	border-radius: 50%;
	width: 2.5vw;
	height: 2.5vw;
	z-index: 86;
    margin:auto;
    top: 34vh;
    left:10.6vw;
    align-items: center;
}
.sidecircle3{
    position: absolute;
	border: 1px solid #f84342;
	border-radius: 50%;
	width: 2.5vw;
	height: 2.5vw;
	z-index: 86;
    margin:auto;
    top: 84.5vh;
    left:10.6vw;
    align-items: center;
}
.sidecircle4{
    position: absolute;
	border: 1px solid #f84342;
	border-radius: 50%;
	width: 2.5vw;
	height: 2.5vw;
	z-index: 86;
    margin:auto;
    top: 134vh;
    left:10.6vw;
    align-items: center;
}
a{
    text-decoration: none !important;
}
@media screen and (max-width:991px) {
    .personal_image{
        top:25vh;
        width:60vw;
        height:90vw;
    }
    .Shriyash{
        margin-top: 90vh;
        font-size: 12vw;
    }
    .Mandavekar{
        font-size: 12vw;
        padding-top: 0.1vh;
        padding-left: 5vw;
    }
    .sidecircle.small{
        border: 1px solid #f84342;
        border-radius: 50%;
        width: 13vw;
        height: 13vw;
        top: 3.5vh;
        left:3.5vh;
    }
    .short-line1{
        height: 2px;
        margin-top: 4vw;
        margin-bottom: 0vw;
        opacity: 1;
    }
    .short-line2{
        height: 2px;
        margin-top: 2vw;
        margin-bottom: 0vw;
        opacity: 1;
    }
    .short-line3{
        height: 2px;
        margin-top: 2vw;
        opacity: 1;
    }
    .sidename{
        visibility: hidden;
    }
    .info{
        padding-top: 25vh;
       
    }
    .Web_devloper{
        font-size: 13vw;
    }
    .cornername{
        font-size: 0.8em;
        padding-top: 4vh;
        padding-right: 1.6em;
    }
    .cornerweb{
        padding-top: 2.2em;
        font-size: 1.5em;
        padding-right: 0.8em;
    }
    .vl{
        visibility: hidden;
    }
    .menubar{
        flex-direction: column;
        align-items: center;
    }
    .menu1{
        width: 100%;
        align-items: center;
    }
    .menu2{
        width: 100%;
        align-items: center;
    }
    .home{
        position: absolute;
        padding-top: 20vh;
        padding-left: 0vw;
        
    }
    .about{

        position: absolute;
        margin: auto;
        padding-top: 35vh;
        padding-left: 0vw;
        
    }
    .resume{
        position: absolute;
        margin: auto;
        padding-top: 50vh;
        padding-left: 0vw;
    }
    
    .contacts{
        position: absolute;
        margin: auto;
        padding-top: 65vh;
        padding-left: 0vw;
    }
}
@media screen and (max-width:479px){
    .sidecircle.small{
        border: 1px solid #f84342;
        border-radius: 50%;
        width: 22vw;
        height: 22vw;
        top: 2.8vh;
        left:2.8vh;
    }
    .short-line1{
        height: 1px;
        margin-top: 7vw;
        margin-bottom: 0vw;
        opacity: 1;
    }
    .short-line2{
        height: 1px;
        margin-top: 3vw;
        margin-bottom: 0vw;
        opacity: 1;
    }
    .short-line3{
        height: 1px;
        margin-top: 3vw;
        opacity: 1;
    }
    .Shriyash{
        margin-top:68vh;
    }
   
}
@media screen and (max-width:720px){
    .info{
        padding-top: 40vh;
        padding-bottom: 18vh;
    }
    .circle.small {
        width: 150px;
        height: 150px;
    }
}
@media screen and (max-width:600px){
    .info{
        padding-top: 40vh;
        padding-bottom: 21vh;
    }
    .circle.small {
        width: 120px;
        height: 120px;
    }
}
@media screen and (max-width:525px){
    .info{
        padding-top: 40vh;
        padding-bottom: 30vh;
    }
    .circle.small {
        width: 110px;
        height: 110px;
    }
}
@media screen and (max-width:430px){
    .cornerweb{
        padding-top: 3em;
        font-size: 1.1em;
        padding-right: 0.8em;
    }
    .cornername{
        font-size: 0.8em;
        padding-top: 4vh;
        padding-right: 1.6em;
    }
}
