body{
    overflow-x: hidden;
}
h1{
    font-size: 10vw;
    text-align: center;
    color: #f94343;
    font-family: 'Montserrat', sans-serif;
}
.container-1{
    display: flex;
    flex-direction: column;
    
}
.Shriyash{
    font-family: 'Playfair Display', serif;
    font-size: 8vw;
    color: #f94343;
    margin-top: 10vh;
    margin-right: 300px;
    margin-bottom: 0px;
}

.Mandavekar{
    font-family: 'Playfair Display', serif;
    font-size: 8vw;
    padding-top: 30vh;
    color: #f94343;
    padding-left: 15vw;
   
}

.sidename{
    position: fixed;
    color: #f94343;
    font-size: 1em;
    top:55vh;
    padding-left: 2vw;
    transform: rotate(-90deg);
    font-family: Bolde,sans-serif;
    /* transform: translateX(0vw); */
    
}

/* .sidecontainer{
    position: absolute;
    right:0 ;
} */
h1{
    margin-top: 0px;
}
body{
    background-color: #2b2626 !important;
}

.info{
    padding-top: 35vh;
    padding-bottom: 50px;
    /* visibility: hidden; */
    opacity: 0.1;
}
.Web_devloper{
    font-size: 8vw;
    font-weight: bolder;
}
.Web_devloper2{
    text-align: left;
}
/* .IITGN{
    font-family: 'Playfair Display', serif; 
} */
.circle2{
    padding-top: 12.5vw;
    padding-left: 10vw !important;
}

.circle.small {
	border: 1px solid #f84342;
	border-radius: 50%;
	width: 220px;
	height: 220px;
	z-index: 86;
    margin:auto;
}
.sidecircle.small {

    position: fixed;
	border: 1px solid #f84342;
	border-radius: 50%;
	width: 7vw;
	height: 7vw;
	z-index: 86;
    margin:auto;
    top: 3.5vh;
    left:3.5vh;
    align-items: center;

}
.circle.filled {
	background-color: #666666;
}

.circle h3 {
    margin-top: 25px;
    text-align: center;
    font-family:  Arial, sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #f84342;
    letter-spacing: -0.01em;
    text-decoration: none;
    display: block;
}

.circle h1 {
    text-align: center;
    font-family:  Times, serif;
    font-weight: 800;
    font-size: 38px;
    color: #222222;
    text-decoration: none;
    display: block;
    letter-spacing: -0.02em;
    word-spacing: -0.02em;
    line-height: 1;
    vertical-align: middle;
    margin-top: 32px;
}
.developer{
    color: #df5f5f;
}
.short-line1{
    background-color: #f94343;
    border: 0 none;
    color: #f94343;
    height: 2px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.2vw;
    margin-bottom: 0vw;
}
.short-line2{
    background-color: #f94343;
    border: 0 none;
    color: #f94343;
    height: 2px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1vw;
    margin-bottom: 0vw;
}
.short-line3{
    background-color:#f94343;
    border: 0 none;
    color: #f94343;
    height: 2px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1vw;
}

/* sidebar css */
.menubar{
    height: 100%;
}
.vl {
    border-left: 2px solid #f94343;
    height: 500px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 0;
  }
.big-size{
    font-size: 7vw;
    font-weight: bolder;
}
h2{
    font-size: 10vw;
    color: #f94343;
    font-family: 'Montserrat', sans-serif;
}
.resume{
    padding-bottom: 5vh;
    padding-left:60vw;
    position: absolute;
}
#bg2{
    position: static !important;
    top: 0; right: 0; bottom: 0; left: 0;
    height: 100%;
}
.personal_image{
    position:absolute;
    /* left: 35vw; */
    top:20vh;
    width:20vw;
    z-index: -1;
}

/***** Top menu *****/
.glass{
    backdrop-filter: blur(0.5em);
}